*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
emotion_model.tflite
emotion_model2.tflite
emotion_model3.tflite
sentiment_model_improved.tflite
sentiment_model.tflite
emotion_model_7class.tflite